<section id="rsvp">
<div class="container-fluid">
    <div class="row">
      <div class="col-xs-12" style="padding:0px;margin:0px;">
      <%=link_to root_path do%><span class="ubuntu">FOOTY THURSDAY</span><%end%>
      </div>
      
      <h1 style="color:#ffffff;display:inline-block;">Outstanding</h1> <%= link_to 'Back to Home', root_path ,:style=>"float:right;color:#ffffff;margin-top:4.8vh;text-decoration:underline;", :class=>"opensans"%>

<div class="table-responsive" data-pattern="priority-columns">
          <table cellspacing="0" id="tech-companies-1" class="table table-small-font table-bordered " style="background-color:white;">
              <thead>

                  <tr>
                      <th>Attendee</th>
                      <th data-priority="1">Date</th>
                      <th data-priority="1">Paid?</th>
                      <th data-priority="1" colspan="2">Actions</th>
                  </tr>
              </thead>
              <tbody>
 <% @event_attendees.each do |event_attendee| %>
      <tr>
        <td><%= @attendees.find(event_attendee.attendee_id).name%></td>
        <td><%= @events.find(event_attendee.event_id).event_date.strftime("%b %d, %Y") %></td>
        <td>
          <%if event_attendee.paid==true%>
          Yes
          <%else%>
          No
          <%end%>
        </td>
        <td><%=link_to "Pay", pay_path(event_attendee.id), :method => :patch%></td>
        <td><%= link_to 'Destroy', event_attendee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
            
              </tbody>
          </table>
</div>
  <h1 style="color:#ffffff;display:inline-block;">Paid</h1>
<div class="table-responsive" data-pattern="priority-columns">
          <table cellspacing="0" id="tech-companies-1" class="table table-small-font table-bordered " style="background-color:white;">
              <thead>

                  <tr>
                      <th>Attendee</th>
                      <th data-priority="1">Date</th>
                      <th data-priority="1">Paid?</th>
                      <th data-priority="1" colspan="1">Actions</th>
                  </tr>
              </thead>
              <tbody>
 <% @event_attendees1.each do |event_attendee| %>
      <tr>
        <td><%= @attendees.find(event_attendee.attendee_id).name%></td>
        <td><%= @events.find(event_attendee.event_id).event_date.strftime("%b %d, %Y") %></td>
        <td>
          <%if event_attendee.paid==true%>
          Yes
          <%else%>
          No
          <%end%>
        </td>
        <td><%= link_to 'Destroy', event_attendee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
            
              </tbody>
          </table>
</div>
    </div>
</div>
</section>
<script src="/assets/table.js"></script>
<script src="/assets/table.scss"></script>


