<section id="rsvp">
<div class="container-fluid">
    <div class="row">
      <div class="col-xs-12" style="padding:0px;margin:0px;">
      <%=link_to root_path do%><span class="ubuntu">FOOTY THURSDAY</span><%end%>
      </div>
      
      <h1 style="color:#ffffff;display:inline-block;">New Game</h1>




<%= form_for(@attendee) do |f| %>
  <div class="field">
    <%= f.label :name ,:class=>"opensans"%><br>
    <%= f.text_field :name, :placeholder=>"ex. Enzo Bautista" %>
  </div>
  <div class="actions"><br>
    <%= f.submit "Register", :class=>"opensans creategamesub" %>
  </div>
<% end %>
</div>
</div>
</section>